@model Application.Models.Role.RoleModel

<form id="role_person_form" asp-controller="Role" asp-action="AddPerson"
      data-ajax-success="addPersonSuccess" data-ajax="true" data-ajax-method="POST">

    @Html.HiddenFor(model => model.RoleId)
    @Html.HiddenFor(model => model.PersonId, new { @id = "hidden_person" })

    <div class="row">

        <div class="col col-12">

            <div class="form-group">

                <label class="required">@Label.Person</label>

                <div class="input-group">

                    @Html.TextBoxFor(model => model.NotName, string.Empty, new { @data_reference = "hidden_person", @required = "required", @readonly = "readonly" })

                    <button type="button" class="button button-search button-plain" data-modal="#search_person">

                        @Button.Search

                    </button>

                </div>

            </div>

            <br />

        </div>

        <div class="col col-12">

            <div class="form-group">

                <button type="submit" class="button button-add">

                    @Button.Add

                </button>

                <a asp-controller="Role"
                   asp-action="Manage" asp-route-id="@Model.RoleId" class="button button-clean">

                    @Button.Clean

                </a>

            </div>

        </div>

    </div>

</form>

<br />