@model Application.Models.Product.ProductFilter
@{
    ViewBag.Title = Title.Product;
}

<section id="section_header" class="section-header">

    <div class="title">@Title.Product</div>

    <div class="toolbar">

        <a asp-controller="Product" 
           asp-action="Manage" 
           asp-route-id="0" 
           asp-route-itemId="@Model.Filter.ReferenceId" class="button button-add">

            @Button.Create

        </a>

    </div>

    <ol class="breadcrumb">

        <li><a asp-controller="Home" asp-action="Index">@Title.Home</a></li>
        <li><a asp-controller="Item" asp-action="Index">@Title.Item</a></li>
        <li>@Title.Product</li>

    </ol>

</section>

<section id="section_content" class="section-content">

    <div class="row">

        <div class="col col-12">

            <div id="message">

                @await Html.PartialAsync("~/Views/Shared/Feedback/_Message.cshtml")

            </div>

        </div>

        <div class="col col-12">

            <div id="form">

                @{
                    await Html.RenderPartialAsync("~/Views/Product/_Filter.cshtml", Model.Filter);
                }

            </div>

        </div>

        <div class="col col-12">

            <div id="table">

                @{
                    await Html.RenderPartialAsync("~/Views/Product/_Table.cshtml", Model);
                }

            </div>

        </div>

    </div>

</section>