@model IEnumerable<Domain.Entity.Address>

@if (Model.Count() > 0)
{
    <div class="table-responsive">

        <table>

            <thead>

                <tr>

                    <th class="fit"></th>
                    <th>@Label.Type</th>
                    <th>@Label.Zipcode</th>
                    <th>@Label.Street</th>
                    <th>@Label.Neighborhood</th>
                    <th>@Label.Number</th>
                    <th class="fit"></th>

                </tr>

            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td class="fit">


                            <a asp-controller="Address"
                               asp-action="Index"
                               asp-route-personId="@item.PersonId"
                               asp-route-id="@item.Id" class="button button-edit button-raw"></a>

                        </td>
                        <td>@item.TypeId.GetDescription()</td>
                        <td>@item.Zipcode</td>
                        <td>@item.Street</td>
                        <td>@item.Neighborhood</td>
                        <td>@item.Number</td>
                        <td class="fit">

                            @if (Model.Count() > 1)
                            {
                                <a asp-controller="Address"
                                   asp-action="Delete"
                                   asp-route-personId="@item.PersonId"
                                   asp-route-id="@item.Id" class="button button-delete button-raw" data-dialog="#confirm_dialog"></a>
                            }
                            else
                            {
                                <i class="mdi mdi-delete-off"></i>
                            }

                        </td>

                    </tr>
                }

            </tbody>

        </table>

    </div>
}
else
{
    @Html.Feedback(EFeedback.Info, Message.NothingToList, false)
}