@model Domain.Entity.Group
@{
    ViewBag.Title = Title.ManageGroup;
}

<section id="section_header" class="section-header">

    <div class="title">@Title.ManageGroup</div>

    <div class="toolbar">

        <a asp-controller="Group" asp-action="Manage" asp-route-id="0" class="button button-add">

            @Button.New

        </a>

        @if (Model.Id.IsPositive())
        {
            <a asp-controller="Group" asp-action="Delete" asp-route-id="@Model.Id" class="button button-delete">

                @Button.Delete

            </a>
        }

    </div>

    <ol class="breadcrumb">

        <li><a asp-controller="Home" asp-action="Index">@Title.Home</a></li>
        <li><a asp-controller="Group" asp-action="Index">@Title.Group</a></li>
        <li>@Title.ManageGroup</li>

    </ol>

</section>

<section id="section_content" class="section-content">

    <div class="row">

        <div class="col col-12">

            @await Html.PartialAsync("~/Views/Shared/Feedback/_Message.cshtml")

        </div>

        <div class="col col-12">

            @using (Html.BeginForm("Manage", "Group", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)

                <div class="row">

                    <div class="col col-12">

                        <div class="form-group">

                            @Html.LabelFor(model => model.Name, new { @class = "required" })

                            @Html.TextBoxFor(model => model.Name, string.Empty, new { @autofocus = "autofocus", @required = "required" })

                            <span>@Html.ValidationMessageFor(model => model.Name)</span>

                        </div>

                    </div>

                    <div class="col col-12">

                        <div class="form-group">

                            <div class="checkbox">

                                @Html.CheckBoxFor(model => model.IsActivated, new { @class = "" })

                                @Html.LabelFor(model => model.IsActivated, new { @class = "" })

                            </div>

                            <span>@Html.ValidationMessageFor(model => model.IsActivated)</span>

                        </div>

                    </div>

                    <div class="col col-12">

                        <div class="form-group">

                            @if (Model.Id.IsPositive())
                            {
                                <button type="submit" class="button button-save">@Button.Save</button>
                            }
                            else
                            {
                                <button type="submit" class="button button-add">@Button.Create</button>
                            }

                        </div>

                    </div>

                </div>
            }

        </div>

    </div>

</section>