@model Application.Models.NaturalPerson.NaturalPersonFilter

@if (Model.Pagination.Count > 0)
{
    await Html.RenderPartialAsync("~/Views/Shared/Pagination/_Header.cshtml");

    <div class="table-responsive">

        <table>

            <thead>

                <tr>

                    <th class="fit"></th>
                    <th>

                        <a asp-controller="NaturalPerson"
                           asp-action="Index"
                           asp-route-Sort="1"
                           asp-route-Name="@Model.Filter.Name"
                           asp-route-Code="@Model.Filter.Code"
                           asp-route-Direction="@Model.Filter.GetDirection(Model.Filter.Sort)"
                           asp-route-Activated="@Model.Filter.Activated">
                            @Label.Name
                        </a>

                    </th>
                    <th>@Label.Document</th>
                    <th>@Label.Birthday</th>
                    <th>@Label.Gender</th>

                </tr>

            </thead>

            <tbody>

                @foreach (var naturalPerson in Model.Pagination)
                {
                    <tr>
                        
                        <td class="fit">

                            <a asp-controller="NaturalPerson" 
                               asp-action="Manage" 
                               asp-route-id="@naturalPerson.Id" class="button button-edit button-raw"></a>

                        </td>
                        <td>@naturalPerson.NotName</td>
                        <td>---</td>
                        <td>@naturalPerson.Birthday.Value.ToShortDateString()</td>
                        <td>@naturalPerson.GenderId.GetDescription()</td>

                    </tr>
                }

            </tbody>

        </table>

    </div>

    if (Model.Pagination.Quantity > 1)
    {
        <ul class="pagination">

            @{
                await Html.RenderPartialAsync("~/Views/Shared/Pagination/_Footer.cshtml");
            }

        </ul>
    }
}
else
{
    @Html.Feedback(EFeedback.Info, Message.NothingToList, false)
}