
<div class="container-fluid">

    <div class="row">

        <div class="col col-12">

            <form id="search_person_form" asp-controller="SearchPerson" asp-action="Search"
                  data-ajax-success="searchPersonSuccess" data-ajax="true" data-ajax-method="POST">

                <div class="row">

                    <div class="col col-12">

                        <div class="form-group">

                            <label>@Label.Type</label>

                            <div class="row">

                                <div class="col col-12 col-sm-6">

                                    <div class="radio">

                                        <input type="radio" id="natural_person" name="rbt_person" value="@EPerson.Natural.GetValue()" checked="checked" />

                                        <label for="natural_person">@Label.NaturalPerson</label>

                                    </div>

                                </div>

                                <div class="col col-12 col-sm-6">

                                    <div class="radio">

                                        <input type="radio" id="juridical_person" name="rbt_person" value="@EPerson.Juridical.GetValue()" />

                                        <label for="juridical_person">@Label.JuridicalPerson</label>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col col-12 col-sm-6">

                        <div class="form-group">

                            <label>@Label.Name</label>

                            @Html.TextBox("txt_name", string.Empty, new { @autocomplete = "off", @min = "3" })

                        </div>

                    </div>

                    <div class="col col-12 col-sm-6">

                        <div class="form-group">

                            <label>@Label.Document</label>

                            @Html.TextBox("txt_document", string.Empty, new { @id = "document_natural" })

                            @Html.TextBox("txt_document", string.Empty, new { @id = "document_juridical", @class = "d-none", @disabled = "disabled", @data_mask = "cnpj" })

                        </div>

                    </div>

                    <div class="col col-12">

                        <div class="form-group">

                            <button type="submit" class="button button-search">

                                @Button.Search

                            </button>

                        </div>

                    </div>

                </div>

            </form>

            <br />

        </div>

        <div id="search_person_result" class="col col-12"></div>

    </div>

</div>