@model Application.Models.Item.ItemFilter
@{
    ViewBag.Title = Title.Item;
}

<section id="section_header" class="section-header">

    <div class="title">@Title.Item</div>

    <div class="toolbar">

        <a asp-controller="Item" 
           asp-action="Manage" 
           asp-route-id="0" 
           asp-route-itemId="@Model.Filter.ReferenceId" class="button button-add">

            @Button.Create

        </a>

    </div>

    <ol class="breadcrumb">

        <li><a asp-controller="Home" asp-action="Index">@Title.Home</a></li>
        <li>@Title.Item</li>

    </ol>

</section>

<section id="section_content" class="section-content">

    <div class="row">

        <div class="col col-12">

            <div id="message">

                @await Html.PartialAsync("~/Views/Shared/Feedback/_Message.cshtml")

            </div>

        </div>

        <div class="col col-12">

            <div id="filter">

                @{
                    await Html.RenderPartialAsync("~/Views/Item/_Filter.cshtml", Model.Filter);
                }

            </div>

        </div>

        <div class="col col-12">

            <div id="result">

                @{
                    await Html.RenderPartialAsync("~/Views/Item/_Table.cshtml", Model);
                }

            </div>

        </div>

    </div>

</section>