@model Application.Models.Subgroup.SubgroupFilter
@{
    ViewBag.Title = Title.Subgroup;
}

<section id="section_header" class="section-header">

    <div class="title">@Title.Subgroup</div>

    <div class="toolbar">

        <a asp-controller="Subgroup" 
           asp-action="Manage" 
           asp-route-id="0" 
           asp-route-groupId="@Model.Filter.ReferenceId" class="button button-add">

            @Button.Create

        </a>

    </div>

    <ol class="breadcrumb">

        <li><a asp-controller="Home" asp-action="Index">@Title.Home</a></li>
        <li><a asp-controller="Group" asp-action="Index">@Title.Group</a></li>
        <li>@Title.Subgroup</li>

    </ol>

</section>

<section id="section_content" class="section-content">

    <div class="row">

        <div class="col col-12">

            <div id="message">

                @await Html.PartialAsync("~/Views/Shared/Feedback/_Message.cshtml")

            </div>

        </div>

        <div class="col col-12">

            <div id="filter">

                @{
                    await Html.RenderPartialAsync("~/Views/Subgroup/_Filter.cshtml", Model.Filter);
                }

            </div>

        </div>

        <div class="col col-12">

            <div id="result">

                @{
                    await Html.RenderPartialAsync("~/Views/Subgroup/_Table.cshtml", Model);
                }

            </div>

        </div>

    </div>

</section>